body{background-color: rgb(236, 189, 149);}


#formulario{
    padding: 10px;
    margin: 5px;
    font-family: monospace;
}

input{padding: 2px;
margin: 2px;}

header{font-size: large;
font-family: monospace;}

#textarea-input{
    resize: none;
}