/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px;
}

@media (min-width: 800px) {
  html {
    background-color: red;
    font-size: 30px;
  }
}
@media (min-width: 800px) {
  img {
    display: flex;
    flex-wrap: wrap;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

article {
}

h1 {
  font-size: 10px;
}

h2 {
}

img {
  padding: 15px;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-flow: row wrap;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

@media (min-width: 1300px) {
  html {
    background-color: rgb(10, 193, 206);
    font-size: 30px;
  }
}
